body{ 
    background-color: #e1e3db;
}
 
.left{
    float: left;
    display: flex;
    width: 10%;
    height: 2700px;
    background-color: #e1e3db;
    color:#161917;
    padding: 20px;

    }

    
    .right{
        float: right;
        display: flex;
        width: 10%;
        height:2700px;
        background-color: #e1e3db;
        color:#161917;
        padding: 20px;
       

    }
    /* Footer */
footer {
    padding: 10px;
    text-align: center;
    background-color: #70160e;
    color:#161917;
}

